.menu{
    width:100%;
    background-color:blue;
    height:75px;
}

.order-container{
    width:100%;
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}

.btn{
    width:300px;
    height:40px;
    background-color:rgb(255, 155, 41);
    border-radius:2%/15%;
    margin:15px;
    user-select:none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(182, 82, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 82, 0);
    box-shadow: 0px 5px 5px #4737097e;
}

.btn:hover{
    background-color:rgb(255, 178, 91);
    color:rgb(165, 74, 0);
    box-shadow: 0px 5px 5px #4737097e;
    transform:translateY(-1px);
}
